Please sign in.

<form method="post" action="/sessions">
	<fieldset>
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
	<input type="submit" class="signin" value="Sign in">
</form>